MIDNIGHT_NETWORK=preprod
# Set ONE of the following:
MIDNIGHT_PREPROD_MNEMONIC=your 12 or 24 word mnemonic here
# MIDNIGHT_PREPROD_SEED=your_64_char_hex_seed_no_0x_prefix
MIDNIGHT_PROOF_SERVER=http://127.0.0.1:6300
